
extends ../layouts/common.pug

block content
    h1 Product

    .d-flex.align-items-center.pt-4
        form.ml-auto(action='/users/search')
            input(type="text" name='q' id="input-field" value=searchInput)
            button(class="btn btn-primary ml-auto ml-2") Search 

    .row.row-cols-1.row-cols-md-4
        each s in product
            .col.mb-2
                .card(style='width: 15rem;')
                    img.card-img-top(src=s.img alt='...')
                    .card-body
                        h5.card-title=s.name
                        p.card-text=s.direction                      
                        a.btn.btn-primary(href='#') Add to cart


        nav.d-flex.align-self-end(aria-label='...')
            ul.pagination
                li.page-item
                    a.page-link(href='?page='+previous) Previous
                each d in dem    
                    li.page-item.l-none.ml-2
                        a.page-link(href='?page='+d.id)=d.id
                li.page-item.ml-2
                    a.page-link(href='?page='+next id="next" class="next") Next

    script.
        $(document).ready(function () { 
            $('.next').click(function () { 
                $(this).addClass("active");
            });
        }
          
    


